<%= bootstrap_form_with(model: website) do |form| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
        <% website.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  TODO: loop through fields and add form-->
  <% @website_fields.each do |field| %>
    <% form.text_field field %>
  <% end %>

  <div class="field">
    <%= form.label :website_address %>
    <%= form.text_field :website_address %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
